<?xml version="1.0"?>
<launch>
  <arg name="ns" default="/" />
  <group ns="$(arg ns)">
    <arg name="robot_description_file" default="$(find aura_description)/launch/aura_upload.launch" doc="Robot description launch file."/>
    <arg name="robot_net_config_file" default="roboshop_net_config"  doc="Network configuration for Roboshop simulation program" />
    
    <!--use mimic parameter-->
    <arg name="use_mimic" default="false" doc="Loads urdf with mimic joint if true" />
    
    <!--load parallel_joint_fix parameter to true -->
    <rosparam command="load" file="$(find comau_bringup)/config/transforms/parallel_joint_fix.yaml" />

    <include file="$(find comau_bringup)/launch/common/comau_common.launch">
      <arg name="robot_description_file" value="$(arg robot_description_file)"/>
      <arg name="robot_net_config_file" value="$(arg robot_net_config_file)"/>
      <arg name="use_mimic" value="$(arg use_mimic)"/>
    </include>
  </group>
</launch>