<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <resource type="stl_meshes" location="/home/antonio/Lib/RosService/Robot_Tools/CAD_Models/Welding_Torch"/>
  <xacro:macro name="gripper" params="prefix stl_file_name 
                                      x_gripper y_gripper z_gripper 
                                      roll_gripper pitch_gripper yaw_gripper 
                                      parent_gripper child_gripper
                                      x_ee y_ee z_ee
                                      roll_ee pitch_ee yaw_ee
                                      parent_ee child_ee">

    <link name="${prefix}gripper">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <mass value="0.0730000000000003" />
        <inertia ixx="6.94455842253111E-06" ixy="-3.96352989850563E-10" ixz="-3.15927343591289E-08" iyy="6.89301150818147E-06" iyz="3.03515042445876E-10" izz="9.67078778400452E-06" />
      </inertial>
      <visual>  
        <geometry>
          
          <mesh filename="file://${stl_file_name}" scale="1 1 1"/> 
          <!-- <mesh filename="file:///home/antonio/Lib/RosService/Robot_Tools/CAD_Models/Screwdriver/Screwdriver_full.stl" scale="1 1 1"/>  -->
         
        </geometry>
        <material name="">
          <color rgba="1 0 0 1" />
        </material>
      </visual>
      <collision>   
        <geometry>
          <!-- <mesh filename="package://racer5-0-80_description/meshes/racer5-0-80/collision/${stl_file_name}"/> -->
          <mesh filename="file://${stl_file_name}" scale="1 1 1"/>

         
          <!-- <mesh filename="file:///home/antonio/Lib/RosService/Robot_Tools/CAD_Models/Welding_Torch/welder.stl"/> -->
          <!-- <sphere radius="0.15"/> -->
        </geometry>
      </collision>
    </link>

    <joint name="${prefix}joint_gripper" type="fixed">
      <origin xyz="${x_gripper} ${y_gripper} ${z_gripper}" rpy="${roll_gripper} ${pitch_gripper} ${yaw_gripper}" />
      <parent link="${parent_gripper}" />
      <child link="${child_gripper}" />
      <axis xyz="0 0 1" />
    </joint>

    <link name="${prefix}ee_link">
      <visual>
        <geometry>
          <cylinder length="0.001" radius="0.001"/>
        </geometry>
      </visual>
      <collision>
        <geometry>
          <cylinder length="0.001" radius="0.001"/>
        </geometry>
      </collision>
    </link>

    <joint name="${prefix}joint_ee_link" type="fixed">
      <origin xyz="${x_ee} ${y_ee} ${z_ee}" rpy="${roll_ee} ${pitch_ee} ${yaw_ee}"/>
      <parent link="${parent_ee}"/>
      <child link="${child_ee}"/>
      <axis xyz="0 0 1"/>
    </joint>

  </xacro:macro>

</robot>