<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:macro name="racer5-0-80_transmission" params="prefix hw_interface">

    <transmission name="${prefix}joint_1_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}joint_1">
        <hardwareInterface>${hw_interface}</hardwareInterface>
      </joint>
      <actuator name="${prefix}joint_1_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="${prefix}joint_2_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}joint_2">
        <hardwareInterface>${hw_interface}</hardwareInterface>
      </joint>
      <actuator name="${prefix}joint_2_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="${prefix}joint_3_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}joint_3">
        <hardwareInterface>${hw_interface}</hardwareInterface>
      </joint>
      <actuator name="${prefix}joint_3_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="${prefix}joint_4_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}joint_4">
        <hardwareInterface>${hw_interface}</hardwareInterface>
      </joint>
      <actuator name="${prefix}joint_4_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="${prefix}joint_5_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}joint_5">
        <hardwareInterface>${hw_interface}</hardwareInterface>
      </joint>
      <actuator name="${prefix}joint_5_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="j${prefix}oint_6_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}joint_6">
        <hardwareInterface>${hw_interface}</hardwareInterface>
      </joint>
      <actuator name="${prefix}joint_6_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

  </xacro:macro>

</robot>
