<?xml version="1.0" ?>
<launch>

  <arg name="ns" default="/" />
  <group ns="$(arg ns)">
    <include file="$(find racer5-0-80_moveit_config)/launch/move_group.launch">
      <arg name="publish_monitored_planning_scene" value="true" />
      <arg name="allow_trajectory_execution" value="true"/>
      <arg name="info" value="true"/>
      <arg name="load_robot_description" value="false" />
    </include>
  </group>
</launch>

